.container {
    align-items: center;
    border: 1px dotted black;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.primero {
    width: 50px;
    height: 50px;
    background-color: coral;
}
.medio {
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
}
.último {
    width: 50px;
    height: 50px;
    background-color: darkseagreen;
}